/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    width: 30%;
    background-color: rgb(214, 214, 214);
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 5px;
    border: none;
}
.row{
    padding-left: 12%;
    padding-top: 15px;
    padding-bottom: 10px;
}
.col{
    width: 80%;
    height: 35px;
}
.heading{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 10px;
}
.button{
    padding: 10px;
    width: 30%;
    background-color: palevioletred;
    border: none;
}