<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-toolbar color="primary">
                    <mat-icon>menu</mat-icon>
                    <span>Loan Application</span>
            </mat-toolbar>
            </mat-list-item>
            <mat-list-item role="listitem" >
                <button mat-stroked-button color="primary" (click)="onLoan()" class="side-nav-button">Show Loans</button>
            </mat-list-item>
            <br>
            <!-- <mat-list-item role="listitem">
                <button mat-stroked-button color="primary" (click)="onSchedule()" class="side-nav-button">Show Genrated Loan</button>
                
                
            </mat-list-item> -->
          </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <table class="mat-elevation-z8 table" id="loan" *ngIf="displaytable" >
             <!-- 
      
     customer: email: "bigyan@abc" mobile: "9931725637" name: "Bigyan" password:"12345"
      address : {id: 5, at: 'Nawada', city: 'Patna', state: 'Bihar', pinCode: 805104}
      date: "2022-10-17T10:21:32.245" id: "3aXPAHTxXZvrpC"intrestRate: 10 loanAmount: 10000 loanStartDate: "2022-11-01"maturityDate: "2023-05-01"
      paymentFrequency: "HALFYEARLY" paymentType: "EVEN_PRINCIPAL"
   -->
            <tr class="table_tr">
                <th class="table_border">Id</th>
                <th class="table_border">Name</th>
                <th class="table_border">City</th>
                <th class="table_border">Mobile</th>
                <th class="table_border">Loan Amount</th>
                <th class="table_border">Loan Strat Date</th>
                <th class="table_border">Maturity Date</th>
                <th class="table_border">Payment Type</th>
                <th class="table_border">Payment Frequency</th>
                <th class="table_border"></th>
            </tr>
            <tr *ngFor="let ele of LOANSDATA" class="table_tr">
                <td>{{ele.customer.email}}</td>
                <td>{{ele.customer.name}}</td>
                <td>{{ele.customer.address.city}}</td>
                <td>{{ele.customer.mobile}}</td>
                <td>{{ele.loanAmount.toFixed(2)}}</td>
                <td>{{ele.loanStartDate}}</td>
                <td>{{ele.maturityDate}}</td>
                <td>{{ele.paymentType}}</td>
                <td>{{ele.paymentFrequency}}</td>
                <td><button mat-raised-button (click)="onSchedule(ele.id)">Show Schdule</button></td>
            </tr>
        </table>
        <table class="mat-elevation-z8 table" id="loan" *ngIf="!displaytable">
            <tr class="table_tr">
                <th class="table_border">Id</th>
                <th class="table_border">Amount</th>
                <th class="table_border">Principal Amount</th>
                <th class="table_border">Projected Intrest</th>
                <th class="table_border">Payment Date</th>
                <th class="table_border">Status</th>
                <th class="table_border"></th>
            </tr>
            <!-- amount
: 228000
id: "aX3Jms1p4Zfu" loan: "rW5Kh7sCxlVxci"paymentDate: "2023-02-01"
principal: -13998
projectedIntrest:28000status: "PROJECTED" -->
            <tr *ngFor="let elem of SCHDULEDATA" class="table_tr">
                <th>{{elem.id}}</th>
                <th >{{elem.amount.toFixed(2)}}</th>
                <th >{{elem.principal.toFixed(2)}}</th>
                <th >{{elem.projectedIntrest.toFixed(2)}}</th>
                <th >{{elem.paymentDate}}</th>
                <th >{{elem.status}}</th>
                <th><button [disabled]="elem.status!='AWAITINGPAYMENT'" mat-raised-button color="primary" (click)="pay(elem)">Pay Now</button></th>
            </tr>
        </table>
    </mat-drawer-content>
  </mat-drawer-container>