.example-container {
    width: 97%;
    height: 85%;
    margin: 20px;
    border: 1px solid #555;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
.side-nav-button{
    width: 150px;
    padding: 5px;
    margin-top: 25%;
}
.table{
    width: 97.5%;
    margin: 15px;
    align-items: center;
    text-align: center;
    background-color: rgb(247, 246, 242);
    font-weight: bold;

}
.table_tr{
   padding: 10px;
}
.table_border {
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}
// .table_tr>td:hover{
//     background-color: black;
//     color: rgb(250, 250, 250);
//  }