<div class="container" >
    <div class="mat-elevation-z5">
        <p class="heading">SignUp Form</p>
        <form [formGroup]="form" (ngSubmit)="signUpUser()">
        <div appearance="fill" class="row">
            <mat-label>Enter your email</mat-label>
            <br>
            <input type="email" class="col" matInput placeholder="pat@example.com" formControlName="email"  >
            <br>
        </div>
        <div appearance="fill" class="row">
            <mat-label>Enter your Mobile</mat-label>
            <br>
            <input type="number" class="col" matInput placeholder="Mobile" formControlName="mobile"  >
            <br>
        </div>
        <div appearance="fill" class="row">
            <mat-label>Enter your Name</mat-label>
            <br>
            <input type="text" class="col" matInput placeholder="Name" formControlName="name"  >
            <br>
        </div>
        <div appearance="fill" class="row">
            <mat-label>Enter your Password</mat-label>
            <br>
            <input type="password" class="col" matInput placeholder="Password" formControlName="password"  >
            <br>
        </div>
        <div appearance="fill" class="row">
            <mat-label>Enter your Address</mat-label>
            <br>
            <input type="text" class="col" matInput placeholder="Address" formControlName="at"  >
            <br>
        </div>
        <div appearance="fill" class="row">
            <mat-label>Enter your City</mat-label>
            <br>
            <input type="text" class="col" matInput placeholder="City" formControlName="city"  >
            <br>
        </div>
        <div appearance="fill" class="row">
            <mat-label>Enter your State</mat-label>
            <br>
            <input type="text" class="col" matInput placeholder="State" formControlName="state"  >
            <br>
        </div>
        <div appearance="fill" class="row">
            <mat-label>Enter your Pin Code</mat-label>
            <br>
            <input type="number" class="col" matInput placeholder="Pin Code" formControlName="pinCode"  >
            <br>
        </div>
          <div class="row">
            <input class="button" type="Submit" >
          </div>
          <div class="row"><a routerLink="login">If Allready Account ? login</a></div>
        </form>

    </div>
</div>
